[Unit]
Description=PCG (Proxmox Config Git) - Run config backup periodically

[Timer]
OnBootSec=5min
OnCalendar=*-*-* 13:00:00
OnUnitActiveSec=6h
Unit=pcg-backup-config.service
RandomizedDelaySec=10min
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
